:root {
    --gris-fondo: #1d2a35;
    --blanco-fuente: #dddddd;
}

body {
    background-color: var(--gris-fondo);
    color: var(--blanco-fuente);
    font-family: monospace;
}

.destacado {
    color: dodgerblue;
    font-weight: bold;
    font-size: larger;
}

#padre {
    background-color: cornflowerblue;
    padding: 15px;
}

#miForm {
    border: 2px solid fuchsia;
    padding: 10px;
    width: 200px;
}
#padre, form {
    border: 2px solid tomato;
    padding: 10px;
    margin-top: 10px;
}


#contenedorAlbums {
    display: flex;
    flex-wrap: wrap;
}

.lista-data {
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}

.lista-data li {
    list-style-type: none;
}

